# Ignore datasets and test images
/train/
/test/
*.jpg
*.png

# Ignore Python & Colab checkpoints / environments
__pycache__/
*.pyc
.ipynb_checkpoints/
.env/
venv/

# Ignore saved models (if large)
*.h5
*.keras